/* _variables.scss */
:root {
    --blue-color: #475be8;
    --green-color: #4ce13f;
    --orange-color: #f29a2e;
    --red-color: #ef0606;
    --dark-color: #292929;
    --light-color: #ffffff;
    --nyu-purple-color: #56018D;
    --light-purple-color: #8B139C;
    --violet-color: #7F00FF;
    --font-family-lato: "Lato", sans-serif;
    --font-family-manrope: "Manrope", sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --font-weight: 400;
    --default-transition: all 300ms ease-in-out;
    --chart-primary-color: #56018D;
    --chart-secondary-color: #e6e6e6;
    --light-shadow1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
